body {
  background-color: #935d8c;
  background-image: url(images/overlay.png), -moz-linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
  background-image: url(images/overlay.png), -webkit-linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
  background-image: url(images/overlay.png), -ms-linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
  background-image: url(images/overlay.png), linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
  color: rgba(255, 255, 255, 0.65);
}